<div class="container" id="cabecero">
    <h2>DATOS USUARIO</h2>
    <div class="row align-items-start">
        <table class="table" id="cabecero">
            <thead>
                <tr>
                    <th>ID-USUARIO</th>
                    <th>NOMBRE</th>
                    <th>CORREO</th>
                    <th>EDAD</th>
                    <th>FECHA DE NACIMIENTO</th>
                    <th>EDITAR</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dato of datosUsuario" id="contenido">
                    <td>{{dato.id}}</td>
                    <td>{{dato.nombres}}</td>
                    <td>{{dato.correo}}</td>
                    <td>{{dato.edad}}</td>
                    <td>{{dato.fechaNacimiento | date:'dd/MM/yyyy'}}</td>
                    <td>
                        <button><i class="bi bi-pencil-fill"></i></button>
                        <button><i class="bi bi-archive-fill"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
