<div class="container" id="cabecero">
    <div class="row align-items-start">
        <h2>DATOS USUARIO</h2>
        <hr>
        <div class="col">ID-USUARIO</div>
        <div class="col">NOMBRE</div>
        <div class="col">CORREO</div>
        <div class="col">EDAD</div>
        <div class="col">FECHA DE NACIMIENTO</div>
    </div>
</div>
<div class="container" *ngFor="let dato of datosUsuario" id="contenido">
    <hr>
    <div class="row align-items-start">
        <div class="col">{{dato.id}}</div>
        <div class="col">{{dato.nombres}} </div> 
        <div class="col">{{dato.correo}} </div>
        <div class="col">{{dato.edad}} </div>
        <div class="col">{{dato.fechaNacimiento | date:'dd/MM/yyyy'}}</div> 
    </div>
</div>

